doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title You WON!
        link(rel="stylesheet", href="../CSS/afterGame.css")
        link(rel="stylesheet", media="screen and (max-width:600px)" href="../CSS/afterGame_phone.css")
            
    body
        header 
            h1 Congratulations you won the game!
        div(id="container")
            img(id="poster")
            div(id="information")
                span(id="title") 
                span(id="director")
                span(id="actors")
                span(id="imdbRating")
                span(id="genre")
                span(id="LinkToImdb")
                p(id="OMDBApi") &copy OMDB_API
        div(id="prize")
            p Here is the virutal cookie as promised!
            div 
                img(id="cookie" src="../img/cookie.jpg")
        div(id="tryAgain")
            span(id="goBack") 
                a(href="/") ←Go Back and Play Again
            p (You can win another cookie.)
                
                


        script.
            const url="https://www.omdbapi.com/?i=#{titleID}&apikey=#{Api_KEY}";
            get_json();
            
            async function get_json(){
                var element = await fetch(url);
                var json = await element.json();
                render(json);
            }

            function render(json){
                document.getElementById("poster").src=json.Poster;
                document.getElementById("title").innerHTML="Title: "+json.Title;
                document.getElementById("director").innerHTML="Director: "+json.Director;
                document.getElementById("actors").innerHTML="Actors: "+json.Actors;
                document.getElementById("imdbRating").innerHTML="Imdb Rating: "+json.imdbRating+"/10";
                document.getElementById("genre").innerHTML="Genre: "+json.Genre;
                document.getElementById("LinkToImdb").innerHTML=`<a href="https://www.imdb.com/title/`+json.imdbID+`/" target="_blank">Move to IMDB</a>`;   
            }
            